<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
    />

    <!-- title -->
    <title>Thực Phẩm Xanh</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://i.imgur.com/Oky17H6.png"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css" />
    <!-- main style -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- responsive -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!--PreLoader-->
    <div class="loader">
      <div class="loader-inner">
        <div class="circle"></div>
      </div>
    </div>
    <!--PreLoader Ends-->

    {{{body}}}

    <!-- features list section -->
    <div class="list-section pt-80 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
              <div class="list-icon">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <div class="content">
                <h3>Miễn phí giao hàng</h3>
                <p>Với những đơn hàng có giá trị lớn hơn 850.000 VNĐ</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="list-box d-flex align-items-center">
              <div class="list-icon">
                <i class="fas fa-phone-volume"></i>
              </div>
              <div class="content">
                <h3>Hỗ trợ 24/24</h3>
                <p>Sẵn sàng hỗ trợ mọi lúc</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="list-box d-flex justify-content-start align-items-center"
            >
              <div class="list-icon">
                <i class="fas fa-sync"></i>
              </div>
              <div class="content">
                <h3>Hoàn tiền</h3>
                <p>Hoàn tiền trong 3 ngày nếu không hài lòng với sản phẩm</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end features list section -->
    <!-- footer -->
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-box about-widget">
              <h2 class="widget-title">Về Chúng Tôi</h2>
              <p>
                Cửa hàng Thực Phẩm Xanh chuyên cung cấp những trái cây hữu cơ
                tươi sạch 100%
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box get-in-touch">
              <h2 class="widget-title">Liên Hệ</h2>
              <ul>
                <li>227 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí
                  Minh .</li>
                <li>support@tpx.com</li>
                <li>+00 111 222 3333</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box pages">
              <h2 class="widget-title">Các Trang</h2>
              <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/about">Giới thiệu</a></li>
                <li><a href="/services">Cửa Hàng</a></li>
                <li><a href="/news">Tin tức</a></li>
                <li><a href="/contact">Liên Hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box subscribe">
              <h2 class="widget-title">Đăng kí</h2>
              <p>Đăng kí nhận thông tin qua email để cập nhật những thông tin
                mới nhất từ của hàng của chúng tôi.</p>
              <form action="index">
                <input type="email" placeholder="Email" />
                <button type="submit">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jquery -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/js/sticker.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
  </body>
</html>