<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="/">
                            <img style="max-width: 50%" src="https://i.imgur.com/owygF8v.png" alt=""/>
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/shop">Sản phẩm</a>
                            </li>
                            <li>
                                <a href="/news">Tin tức</a>
                            </li>
                            <li><a href="/contact">Liên hệ</a></li>
                            <li><a href="/about">Giới thiệu</a></li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="/cart"><i
                                            class="fas fa-shopping-cart"
                                    ></i></a>
                                    {{#if user}}
                                        <a>chào, {{user.username}}!</a>
                                        <a class="mobile-hide search-bar-icon" href="/logout"><span
                                        >Đăng xuất</span></a>{{else}}
                                        <a class="mobile-hide search-bar-icon" href="/login"><span
                                        >Đăng nhập</span></a>
                                    {{/if}}

                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i
                            class="fas fa-search"
                    ></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Tươi Sạch Và Hữu Cơ</p>
                    <h1>Giỏ Hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                        <tr class="table-head-row">
                            <th class="product-remove"></th>
                            <th class="product-image">Ảnh Sản Phẩm</th>
                            <th class="product-name">Tên Sản Phẩm</th>
                            <th class="product-price">Giá Tiền</th>
                            <th class="product-quantity">Số Lượng</th>
                            <th class="product-total">Tổng Cộng</th>
                        </tr>
                        </thead>
                        <tbody id="context">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section" id="context-total">
                </div>

                <div class="cart-buttons">
                    <a href="" class="boxed-btn black">Đặt Hàng</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end cart -->

{{#section "script"}}

    <script type="application/javascript">

        showCart();

        function showCart() {
            $.ajax({
                url: '/cart/api/list',
                type: 'GET',
                success: function (data) {
                    let cart = data.cart;

                    $('#context').html(data);

                    for (let i = 0; i < cart.length; i++) {
                        let p = cart[i];
                        $('#context').append(`
                            <tr class="table-body-row">
                                <td class="product-remove">
                                    <a onclick="deleteItem(${p.id})"><i class="far fa-window-close"></i></a>
                                </td>
                                <td class="product-image">
                                    <img src=${p.img} alt=""/>
                                </td>
                                <td class="product-name">${p.name}</td>
                                <td class="product-price">${p.price.toLocaleString()}</td>
                                <td class="product-quantity">
                                    <input type="number" min=0 value="${p.quantity}"/>
                                </td>
                                <td class="product-total">${p.total.toLocaleString()}</td>
                            </tr>

                        `);
                    }

                    $('#context-total').html(data);
                    const totalPrice = data.cart.reduce((total, item) => total + item.total, 0);

                    $('#context-total').append(`
                        <table class="total-table">
                        <thead class="total-table-head">
                        <tr class="table-total-row">
                            <th>Phí</th>
                            <th>Giá Tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="total-data">
                            <td><strong>Tổng: </strong></td>
                            <td>${totalPrice.toLocaleString()} VNĐ</td>
                        </tr>
                        </tbody>
                    </table>
                    `);
                }
            });
        }

        function deleteItem(productId) {
            $.ajax({
                url: '/cart/api/delete/' + productId,
                type: 'GET',
                success: function (data) {
                    let cart = data.cart;

                    $('#context').html(data);
                    for (let i = 0; i < cart.length; i++) {
                        let p = cart[i];
                        $('#context').append(`
                            <tr class="table-body-row">
                                <td class="product-remove">
                                    <a onclick="deleteItem(${p.id})"><i class="far fa-window-close"></i></a>
                                </td>
                                <td class="product-image">
                                    <img src=${p.img} alt=""/>
                                </td>
                                <td class="product-name">${p.name}</td>
                                <td class="product-price">${p.price.toLocaleString()}</td>
                                <td class="product-quantity">
                                    <input type="number" placeholder="${p.quantity}"/>
                                </td>
                                <td class="product-total">${p.total.toLocaleString()}</td>
                            </tr>
                        `);
                    }
                    $('#context-total').html(data);
                    const totalPrice = data.cart.reduce((total, item) => total + item.total, 0);

                    $('#context-total').append(`
                        <table class="total-table">
                        <thead class="total-table-head">
                        <tr class="table-total-row">
                            <th>Phí</th>
                            <th>Giá Tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="total-data">
                            <td><strong>Tổng: </strong></td>
                            <td>${totalPrice.toLocaleString()} VNĐ</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="" class="boxed-btn black">Đặt Hàng</a>
                    </div>
                    `);
                }
            });
        }

    </script>

{{/section}}